<h1>Your Cart</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%-@cart.items.each do |item| %>
    <tr> 
      <td><%= item.name %></td>
      <td><%= item.manufacturer.name %></td> 
      <td><%= link_to "Remove Item", cart_path(item), :method => :delete %></td> 
    </tr>
  <% end %>
  </tbody>
</table>
